{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ site.descriptive_title|e('html') }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <!-- TODO: <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 100) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.scrolly.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.dropotron.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.scrollex.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/browser.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/breakpoints.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/util.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/main.js', {'group': 'bottom'}) %}
    {% endblock %}

    {% block assets %}
        {{ assets.css() }}
        {{ assets.js() }}
    {% endblock %}

{% endblock head %}
</head>
<body class="{{ ['is-preload', page.header.body_classes]|join(' ') }}">
	<div id="page-wrapper">

    {% block header %}
        <!-- Header -->
            <header id="header">
                <h1 id="logo"><a href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a></h1>

                {% block header_navigation %}
                    <nav id="nav">
                        {% include 'partials/navigation.html.twig' %}
                    </nav>
                {% endblock %}

            </header>

            {% block banner %}{% endblock banner %}

    {% endblock header %}

    {% block body %}
		<div id="main" class="wrapper style1">
            <div class="container">
				<header class="major">
					<h2>{{ page.title }}</h2>
                    {% if page.header.teaser %}
                        <p>{{ page.header.teaser }}</p>
                    {% endif %}
                </header>

            {% block content %}
            <!-- Content -->
                <section id="content">
                    {% if page.header.hero_image or page.media['hero.jpg'] %}
                        {% if page.header.hero_image %}
                            {% set hero_url = url(page.media[page.header.hero_image].url) %}
                        {% else %}
                            {% set hero_url = page.media['hero.jpg'].url %}
                            {# TODO: try getting alt text from an image meta file #}
                        {% endif %}
                        <span class="image fit"><img src="{{ hero_url }}" alt="{{ page.header.hero_alt }}" /></span> {# NB: wrapping link 'a' element from source template replaced with span - just can't see why link should be here #}
                    {% endif %}
                    {{ page.content }}
                </section>
            {% endblock %}
            </div>
        </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

    </div>
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
