{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <!-- TODO: <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 100) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.scrolly.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.dropotron.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.scrollex.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/browser.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/breakpoints.min.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/util.js', {'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/main.js', {'group': 'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body class="{{ ['is-preload', page.header.body_classes]|join(' ') }}">
	<div id="page-wrapper">

    {% block header %}
        <!-- Header -->
            <header id="header">
                <h1 id="logo"><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h1>

                {% block header_navigation %}
                    <nav id="nav">
                        {% include 'partials/navigation.html.twig' %}
                    </nav>
                {% endblock %}

            </header>

            {% block banner %}{% endblock banner %}

    {% endblock header %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </div>
    </div>
{% endblock %}

    </div>
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
