{% if page.header.banner %}
	{% set banner_data = page.header.banner %}
<!-- Banner -->
	{% set hero_background %}
		{% if banner_data.background is defined %}
			/{{ (banner_data.background|first).path }}
		{% elseif banner_data.background_image is defined %}{# legacy background_image, incompatible as string #}
			{{ page.media[banner_data.background_image].url }}
		{% else %}
			{{ url('theme://images/banner.jpg') }}
		{% endif %}
	{% endset %}
	{% set hero_image %}
		{% if banner_data.hero is defined %}
			/{{ (banner_data.hero|first).path }}
		{% elseif banner_data.hero_image is defined %} {# legacy hero_image, incompatible as string #}
			{{ page.media[banner_data.hero_image].url }}
		{% else %}
			{{ url('theme://images/pic01.jpg') }}
		{% endif %}
	{% endset %}
	<section id="{{ id }}" data-foo="bar" style="background-image: url('{{ hero_background|trim }}')">
		<div class="content">
			<header>
				<h2>{{ banner_data.headline }}</h2>
				{% if banner_data.quips %}
					<p>{{ banner_data.quips|join('<br/>') }}</p>
				{% endif %}
			</header>
			<span class="image"><img src="{{ hero_image|trim }}" alt="{{ banner_data.hero_alt }}" /></span>
		</div>
	{% if next_id %}
		<a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
	{% endif %}
	</section>
{% else %}
	{{ dump('Notice: homepage banner section not rendered because page header "banner" is absent in frontmatter.') }}
{% endif %}