{% if page.header.intro %}
	{% set intro_data = page.header.intro %}
<!-- "One" -->
	{% set hero_image %}
		{% if intro_data.hero is defined %}
			/{{ (intro_data.hero|first).path }}
		{% elseif intro_data.hero_image is defined %} {# legacy hero_image, incompatible as string #}
			{{ page.media[intro_data.hero_image].url }}
		{% else %}
			{{ url('theme://images/pic02.jpg') }}
		{% endif %}
	{% endset %}
	<section id="{{ id }}" class="spotlight style1 bottom">
		<span class="image fit main"><img src="{{ hero_image|trim }}" /></span>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-medium">
						<header>
						{% if intro_data.headline %}
							<h2>{{ intro_data.headline }}</h2>
							<p>{{ intro_data.byline }}</p>
						{% else %}
							{{ page.content }}
							{{ dump('Notice: homepage intro section uses page content in place of frontmatter values because page header "intro.headline" is absent in frontmatter.') }}
						{% endif %}
						</header>
					</div>

					<!-- FIXME: let's assume strictly 2 blocks for now -->
					{% for block in intro_data.blocks %}
					<div class="col-4 col-12-medium">
						<p>{{ block }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% if next_id %}
		<a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
	{% endif %}
	</section>
{% else %}
	{{ dump('Notice: homepage intro section not rendered because page header "intro" is absent in frontmatter.') }}
{% endif %}